
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?cocktails);">
    <div class="container">
      <h1>Le victao: <strong>Best</strong> Cocktails <strong>in town</strong>!</h1>
      <p>Have a look to our list:</p>
      <a><%=link_to "+ Add new", new_cocktail_path(@cocktail), class: "btn btn-success"  %></a>
    </div>
  </div>

<div class="container">
  <div class="row align-items-stretch justify-content-start card-deck">
      <% @cocktails.each do |c| %>
      <div class="card-product">
        <img src="https://source.unsplash.com/1600x900/?cocktails,<%= c.name %>.jpg" />
        <div class="card-product-infos">
          <h2><%= c.name %></h2>
          <a><%= link_to "", c, class: "btn btn-success btn-circle", id:"right-panel-link" %><i class="fa fa-list"></i></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
